<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.neuq.techhub.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="edu.neuq.techhub.domain.entity.ArticleDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="summary" column="summary" jdbcType="VARCHAR"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="readTime" column="read_time" jdbcType="INTEGER"/>
            <result property="isOriginal" column="is_original" jdbcType="TINYINT"/>
            <result property="originalUrl" column="original_url" jdbcType="VARCHAR"/>
            <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP"/>
            <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="reviewerId" column="reviewer_id" jdbcType="BIGINT"/>
            <result property="reviewMessage" column="review_message" jdbcType="VARCHAR"/>
            <result property="reviewTime" column="review_time" jdbcType="TIMESTAMP"/>
            <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
            <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
            <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
            <result property="collectCount" column="collect_count" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,title,
        summary,cover,category_id,
        tags,read_time,is_original,
        original_url,publish_time,edit_time,
        status,reviewer_id,review_message,
        review_time,view_count,like_count,
        comment_count,collect_count,create_time,
        update_time,del_flag
    </sql>
</mapper>
