<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.neuq.techhub.mapper.UserFollowMapper">

    <resultMap id="BaseResultMap" type="edu.neuq.techhub.domain.entity.UserFollowDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="followerId" column="follower_id" jdbcType="BIGINT"/>
            <result property="followingId" column="following_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,follower_id,following_id,
        status,create_time,update_time,
        del_flag
    </sql>
</mapper>
